body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}


/* ---- NAVBAR ---- */


#navbar {
    text-align: center;
    position: fixed;
    width: 100%; 
    top: 0;
    z-index: 1000;
    background-color: #fff;
}

#navbar ul {
    margin-bottom: 0;
}

#navbar ul li {
    display: inline-block;
    font-size: 18px;
}

#navbar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444444;
}

#navbar ul li a:hover {
    background-color: rgba(255, 183, 39, 0.6);
}

@media screen and (max-width: 768px) {
    
    #navbar ul {
        padding-left: 0;
    }
    
    #navbar ul li {
        display: inline-block;
        margin-right: 15px;
    }
}


/* ---- SECTION ---- */


.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
    margin-top: 30px;
}
  
.section-title h3 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
}
  
.section-title span {
    position: absolute;
    top: 30px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}


/* ---- INTRO ---- */


#intro {
    width: 100%;
    height: 100vh;
    background: url("../img/photo-header.jpg") center;  
    background-size: cover;
    position: relative;
}

#intro:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .intro-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
#intro h1 {
    margin-bottom: 15px;
    font-size: 64px;
    font-family: "Dancing Script", cursive;
    color: #fff;
}
  
#intro h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* ---- PRESENTATION ---- */


#about .container ul {
    list-style: none;
    padding: 0;
}

#about .container ul li {
    margin-top: 15px;
}

#about .container ul i{
    color: #ffb727;
}

#about .container p {
    text-align: justify;
}


/* ---- EXPERIENCE ET FORMATION ---- */

  
#experience,
#education {
    max-width: 800px;
    margin: auto;
}

#experience .resume-item,
#education .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #82909c;
    position: relative;
}

#experience .resume-item h4,
#education .resume-item h4 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffb727;
    margin-bottom: 10px;
}
  
#experience .resume-item h5,
#education .resume-item h5 {
    font-size: 16px;
    background: #eef0f2;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
  
#experience .resume-item ul,
#education .resume-item ul {
    padding-left: 20px;
}

#experience .resume-item ul li,
#education .resume-item ul li {
    padding-bottom: 10px;
}
  
#experience .resume-item:last-child,
#education .resume-item:last-child {
    padding-bottom: 0;
}
  
#experience .resume-item::before,
#education .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #82909c;
}


/* ---- FOOTER ---- */


footer {
    background-color: grey;
    color: #fff;
    padding: 20px 0;
}

footer p {
    text-align: center;
}
